<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="model-panel">
            <label for="model-file" class="select"">Select Model:</label>
            <input type="file" id="model-file" accept=".h5,.json" hidden>
            <span id="model-filename">No model selected</span>
        </div>
        <div class="main-panel">
            <div class="left-panel">
                <div id="upload-area">
                    <input type="file" id="upload-image" accept="image/*" style="display: none;">
                    <label id="image-display" for="upload-image" style="cursor: pointer;">Click to upload an image</label>
                </div>
                <div class="button-container">
                    <button id="classify-button" onclick="classifyImage()">Classify</button>
                    <button id="clear-button" onclick="clearImage()">Clear</button>
                </div>
            </div>
            <div class="right-panel">
                <div id="output">
                    <div id="loading-animation"></div>
                    <h2 id="prediction-title"> </h4>
                    <p id="prediction"> </p>
                    <h2 id="confidence-title"> </h2>
                    <div id="percentage-container">
                        <div id="percentage-bar"> </div>
                    </div>
                    <h3 id="confidence"> </h3>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='../static/script.js') }}"></script>
</body>
</html>